@model DogGo.Models.ViewModels.WalkerDetailsViewModel

@{
    string apoS = "'s";
    ViewData["Title"] = $"{Model.Walker.Name + apoS} Details";
}
<h1 class="text-center">@(Model.Walker.Name + "'s Profile")</h1>
<div>
    <dl class="row justify-content-center">
        <img src="@Model.Walker.ImageUrl" alt="@Model.Walker.Name" width="80px" height="auto" />
        <div class="column">
            <h1>@Model.Walker.Name</h1>
            <h4>Walker</h4>
        </div>
    </dl>
</div>
<hr/>
<div>
    <h3 class="text-center">Bio</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Neighborhood</th>
            <th>Total Walks Done</th>
        </tr>
        <tr>
            <td>@Model.Walker.Name</td>
            <td>@Model.Walker.Neighborhood.Name</td>
            <td>@Model.Walks.Count</td>
        </tr>
    </table>
</div>
<h3 class="text-center">List Of Walks</h3>
<div style="display:flex" class="flex-row justify-content-around">
    <hr/>
    <table class="table" style="width:60%">
        <tr>
            <th colspan="2">Date</th>
            <th colspan="2">Client</th>
            <th colspan="2">Duration</th>
        </tr>
    @{
        foreach(Walk walk in Model.Walks)
        {
                <tr>
                    <td>@walk.Date.ToLongDateString()</td>
                    <td></td>
                    <td>@walk.Client.Name</td>
                    <td></td>
                    <td>@(walk.Duration / 60) Minutes</td>
                </tr>
        }
    }
    </table>
    <div class="card text-center justify-content-center" style="width:40%">
        <h3>Total Walk Time</h3>
        <h4>@(Model.Walks.Sum(walk => walk.Duration)/60) Minutes</h4>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Walker.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
